<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tax Payers MIS</title>
    <link rel="icon" href="../assets/images/mra.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="../assets/css/dashboard.css" rel="stylesheet" />
    <script>
        if (sessionStorage.getItem("Authorization") == null) {
            window.location.href = "login.html";
        }
    </script>
</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
            <h5>
                <img src="../assets/images/mra.png" alt="" width="30px" /> Tax Payers MIF
            </h5>
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="bg-dark w-100"></div>
        <div class="navbar-nav"></div>
    </header>

    <div class="container-fluid">
        <!-- Logout Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sign-out</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to Sign-out?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button id="signout-btn" class="btn btn-outline-success">
                            Sign-out
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="add_tax_payer.html">
                                <span data-feather="user-plus"></span> Add Tax Payer
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="view_tax_payer.html">
                                <span data-feather="list"></span> View Tax Payer
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="nav-link px-3" href="#">
                                <span data-feather="log-out"></span>Sign out</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              pt-3
              pb-2
              mb-2
              border-bottom
            ">
                    <h4>Edit Tax Payer</h4>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-3 mb-4">
                            <div class="card-header">
                                <h6>Tax Payer Details</h6>
                            </div>
                            <div class="card-body">
                                <form id="patient-form">
                                    <div class="form-group row">
                                        <div class="
                          form-group
                          col-xs-5 col-lg-5 col-md-5 col-sm-6
                          p-2
                        ">
                                            <label for="tpin">TPIN</label>
                                            <input type="text" id="tpin" name="tpin" class="form-control" placeholder="TPIN" readonly/>
                                        </div>
                                        <div class="
                          form-group
                          col-xs-5 col-lg-5 col-md-5 col-sm-6
                          p-2
                        ">
                                            <label for="certificatenumber">Business Certificate Number</label>
                                            <input type="text" id="certificatenumber" name="certificatenumber" class="form-control" placeholder="Business Certificate Number" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="
                          form-group
                          col-xs-5 col-lg-5 col-md-5 col-sm-6
                          p-2
                        ">
                                            <label for="tradingname">Trading Name</label>
                                            <input type="text" id="tradingname" name="tradingname" class="form-control" placeholder="Trading Name" />
                                        </div>
                                        <div class="
                          form-group
                          col-xs-5 col-lg-5 col-md-5 col-sm-6
                          p-2
                        ">
                                            <label for="regate">Business Registration Date</label>
                                            <input type="date" id="regate" name="regate" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="
                          form-group
                          col-xs-5 col-lg-5 col-md-5 col-sm-6
                          p-2
                        ">
                                            <label for="mobilenumber">MobileNumber</label>
                                            <input type="text" id="mobilenumber" name="mobilenumber" class="form-control" placeholder="Mobile Number" />
                                        </div>
                                        <div class="
                          form-group
                          col-xs-5 col-lg-5 col-md-5 col-sm-6
                          p-2
                        ">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" name="email" class="form-control" placeholder="Email" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="
                          form-group
                          col-xs-5 col-lg-5 col-md-5 col-sm-6
                          p-2
                        ">
                                            <label for="physicallocation">Physical Location</label>
                                            <input type="text" id="physicallocation" name="physicallocation" class="form-control" placeholder="Physical Location" />
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <div class="card-footer">
                                <a href="view_tax_payer.html" class="btn btn-outline-secondary">Cancel</a>
                                <button class="btn btn-outline-success" id="update-tax-payer-btn">
                                    Update Tax Payer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js "></script>
    <script src="../assets/js/sweetalert.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
    </script>
    <script src="../assets/js/dashboard.js"></script>
    <script src="../assets/js/tax_payer.js"></script>
    <script src="../assets/js/set_tax_payer.js"></script>
    <script src="../assets/js/util.js"></script>
</body>

</html>

</html>