.card {
    border-radius: 0;
}

.card-header {
    background-color: #81ADB2;
    border-radius: 0px !important;
}

.btn-primary {
    background-color: #81ADB2;
}

.btn-outline-primary:hover {
    background-color: #81ADB2;
}

a {
    color: #81ADB2;
}